AWS_ACCOUNT_ID=503561412084
QUICKSIGHT_USER_ARN=arn:aws:quicksight:us-east-1:503561412084:user/default/AWSReservedSSO_AWSAdministratorAccess_2dfa29f98f589a40/rnhernandez
DASHBOARD_ID=pulso-facturacion-dev
ALLOWED_DOMAINS=http://localhost:5173
CORS_ORIGIN=http://localhost:5173
